/*** General Declarations ***/

body {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica, sans-serif;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  width: 1024px;
  margin: 0 auto;
  justify-content: flex-end;
}

/*** Main Banner Section  ***/
/* Header Bar */

header {
  background-color: cadetblue;
  display: flex;
  align-items: center;
  color: white;
}

header img {
  height: 1.5rem;
  margin: 0 1rem 0 2rem;
}

nav {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

nav a {
  margin: 1rem 2rem;
  text-decoration: none;
  color: white;

}

/* Main Banner Container */

.main-banner {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  padding-top: 1rem;
    justify-content: flex-end;
}

.headline {
  background-color: white;
  display: inline-block;

  margin-top: 10rem;
}

.headline h1 {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: bold;
  padding: 1.5rem 5rem;
}

/*** Main Section ***/
/* Logo Section */

.business-info {
  display: flex;
  justify-content: center;
}

.info {
  margin: 3rem 6rem;
  height: 8rem;
  width: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between
}

.info h3 {
  text-align: center;
}

.info img {
  width: 3.5rem;
}

.paper img {
  width: 3.5rem;
}

.fittings img {
  width: 5rem;
}
